[log]
    decorate = true
    date = relative
[format]
    # abbr. commit - author - commit title - (date) - (ref)
    pretty = format:%Cred%h%Creset %aN %C(yellow)%s %Cblue(%ad) %d
[color]
    ui = true
[core]
    hooksPath = {{ xdg_config_home }}/git/hooks
    sshCommand = "ssh -i {{ lookup('env', 'HOME') }}/.ssh/git"
[init]
    defaultBranch = main
[merge]
    tool = "nvimdiff2"
[user]
	email = {{ git_config_user_email }}
	name = {{ git_config_user_name }}
[alias]
    c = commit --signoff --verbose
    ca = commit --signoff --verbose --all
    s = status
    l = log --graph
    co = checkout
